/*导航*/
body{
    font-family: "Microsoft YaHei" ! important;
}
.nav_color{
    background-color: #3A87FD;
}
.nav_logo{
    margin-top:1.4rem;
    margin-left: 0.9rem;
    float: left;
    
}
.nav_nav{
    float: left;
}
.login{
    float: right;
}

/*中间内容*/
.middle{
    width: 100%;
    height:70rem;
    background:url(../img/index-bg.jpg) no-repeat -178px 0;
    background-size: cover;
    position:relative;
}

.middle_text{
    width: 400px;
    border: 1px black solid;
    margin-left: 25%;

}
.middle_bottom{
    width: 100%;
    height: 7.2rem;
    background-color: rgba(0, 0, 0, 0.3);
    position:absolute;
    bottom:0;

}

/*updown*/
.updown{
    width: 100%;
    height: 30rem;
    background-color: #ffffff;
}
.updown_div{    
    width: 10rem;
    height: 25rem;
    float: left;
}

.updown_img{
    width: 3rem;
    height: 3rem;
}

/*底端*/
.footer{
    width: 100%;
    height:22.5rem;
    float: left;
    bottom:0px;

}

/*关于我们*/
.about{
    width: 58%;
    height: 80%;
    margin-left: 21%;

}
#about_title{
    text-align: center;
    font-size: 2.2rem;
    line-height: 10rem;
    
}

.about p {
    font-size: 1.3rem;
    
    line-height: 2.5rem;
}

/*合作伙伴*/
.partners{
    max-width: 90rem;   
    margin-left: 26.5%;

}


.partners p{
    margin-left: 37%;
    font-size: 2.2rem;
    line-height: 10rem;
    

}
.partners div{
    max-width: 15%;
    height: auto;
    float: left;
    text-align: center;
    margin-right: 7.9%;
    margin-bottom: 3rem;
}

.partners div img{
    max-width: 88%;
}

/*营销推送*/
.market{
    max-width: 85rem;
    margin-left: 29%;
}

.market_all{
    max-width: 100%;
    margin-bottom: 5rem;
    font-size: 1.4rem;
    padding-right: 5rem;
}

.market_hr{
    width: 2.5rem;
    border: 1px solid #3A87FD;
    margin-left: 0px;
}

.market_title{
    margin-left: 37%;
    font-size: 2.2rem;
    color: #3A87FD;
    line-height: 10rem;
    
}

.market_little_title{
    margin-left: 24.5%;
    font-size: 1.5rem;
    margin-top: -4rem;
    margin-bottom: 6rem;

}

.market_txt{
    width: 28rem;
    height: 30rem;
    float: left;
    padding-left: 4rem;
    line-height: 2rem;
}

.market_txt1{
    width: 33rem;
    height: 30rem;
    float: left;
    padding-left: 13rem;
    line-height: 2rem;
}

.market_image{
    width: 36rem;
}

.market_image1{
    width: 36rem;
    float:left; 
    margin-left: 10rem;
}

.market_image  img{
    width: 72%;
    float: left;
}

.market_image1  img{
    width: 72%;
    float: left;
}

.market_i{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../img/fit@3x.png");
    background-repeat:no-repeat;
    background-size: 2.5rem;
    margin-bottom: 1.5rem;
    
}

@media(max-width:1300px) {

    /*营销推送*/
    .market{
        max-width: 70rem;
        margin-left: 20%;
    }

    .market_title{
        margin-left: 33%;
        font-size: 2.2rem;
        color: #3A87FD;
        line-height: 10rem;
        
    }

    .market_little_title{
        margin-left: 21%;
        font-size: 1.5rem;
        margin-top: -4rem;
        margin-bottom: 6rem;

    }

    .market_txt{
        width: 24rem;
        height: 30rem;
        float: left;
        padding-left: 2rem;
        line-height: 2rem;
    }

    .market_txt1{
        width: 24rem;
        height: 30rem;
        float: left;
        padding-left: 5rem;
        line-height: 2rem;
    }

    .market_image{
        max-width: 30rem;
        padding: 0px;
    }

    .market_image1{
        max-width: 30rem;
        float:left; 
        margin-left: 4rem;
        padding: 0px;
    }

    .market_image  img{
        width: 72%;
        float: left;
    }

    .market_image1  img{
        width: 72%;
        float: left;
        padding: 0px;
    }

}

@media(max-width:900px) {

    /*营销推送*/
    .market{
        max-width: 70rem;
        margin-left: 17%;
    }

    .market_title{
        margin-left: 33%;
        font-size: 2.2rem;
        color: #3A87FD;
        line-height: 10rem;
        
    }

    .market_little_title{
        margin-left: 18%;
        font-size: 1.5rem;
        margin-top: -4rem;
        margin-bottom: 6rem;

    }

    .market_txt{
        width: 20rem;
        height: 30rem;
        float: left;
        padding-left: 2rem;
        line-height: 2rem;
    }

    .market_txt1{
        width: 20rem;
        height: 30rem;
        float: left;
        padding-left: 5rem;
        line-height: 2rem;
    }

    .market_image{
        max-width: 28rem;
        padding: 0px;
    }

    .market_image1{
        max-width: 28rem;
        float:left; 
        margin-left: 4rem;
        padding: 0px;
    }

    .market_image  img{
        width: 72%;
        float: left;
        margin-top: 8rem;
    }

    .market_image1  img{
        width: 72%;
        float: left;
        padding: 0px;
        margin-top: 8rem;
    }

}


@media(max-width:767px) {

    /*合作伙伴*/
    .partners{   
        margin-left: 15%;

    }


    .partners p{
        margin-left: 28%;
        font-size: 2.2rem;
        line-height: 10rem;
        

    }
    
    .partners div{
        max-width: 25%;
        height: auto;
        float: left;
        text-align: center;
        margin-right: 5%;
        margin-bottom: 3rem;
    }

    /*营销推送*/
    .market{
        max-width: 50rem;
        margin-left: 30%;
    }

    .market_title{
        margin-left: 20%;
        font-size: 2.2rem;
        color: #3A87FD;
        line-height: 10rem;
        
    }

    .market_little_title{
        margin-left: 0px;
        font-size: 1.5rem;
        margin-top: -4rem;
        margin-bottom: 6rem;

    }
    .market_txt{
        width: 22rem;
        height: 30rem;
        float: left;
        padding-left: 0rem;
        line-height: 2rem;
    }

    .market_txt1{
        width: 22rem;
        height: 30rem;
        float: left;
        padding-left: 0rem;
        line-height: 2rem;
    }

    .market_image{
        max-width: 30rem;
        padding: 0px;
        margin-top: -100px;
    }

    .market_image1{
        max-width: 30rem;
        float:left; 
        margin-left: -2rem;
        padding: 0px;
        margin-top: -150px;
    }

    .market_image  img{
        width: 80%;
        float: left;
    }

    .market_image1  img{
        width: 80%;
        float: left;
        padding: 0px;
    }
}

@media(max-width:480px) {
    /*合作伙伴*/
    .partners{
        max-width: 30rem;
        margin-left: 20%;

    }


    .partners p{
        margin-left: 25%;
        font-size: 2.2rem;
        line-height: 10rem;
        

    }
    
    .partners div{
        max-width: 40%;
        height: auto;
        float: left;
        text-align: center;
        margin-right: 7.3%;
        margin-bottom: 3rem;
    }
    
    /*营销推送*/
    .market{
        max-width: 30rem;
        margin-left: 20%;
    }

    .market_title{
        margin-left: 20%;
        font-size: 2.2rem;
        color: #3A87FD;
        line-height: 10rem;
        
    }

    .market_little_title{
        margin-left: -30px;
        font-size: 1.5rem;
        margin-top: -4rem;
        margin-bottom: 6rem;

    }
    .market_txt{
        width: 20rem;
        height: 30rem;
        float: left;
        padding-left: 0rem;
        line-height: 2rem;
    }

    .market_txt1{
        width: 20rem;
        height: 30rem;
        float: left;
        padding-left: 0rem;
        line-height: 2rem;
    }

    .market_image{
        max-width: 25rem;
        padding: 0px;
        margin-top: -100px;
    }

    .market_image1{
        max-width: 25rem;
        float:left; 
        margin-left: -2rem;
        padding: 0px;
        margin-top: -150px;
    }

    .market_image  img{
        width: 80%;
        float: left;
    }

    .market_image1  img{
        width: 80%;
        float: left;
        padding: 0px;
    }
}


